body {
    margin: 0px;
    /* margin-top:50px; */
    position: relative;
    font-family: Helvetica;
    font-size:0.9em;
}

body, html {
    height:100%;
}

/* загрузчик */

#preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

#preloader img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* меню */

#nav {
    position: fixed;
    width: 100%;
    background-color: #303030;
    color:#BFC0B1;
    min-height: 50px;
    line-height: 50px;
    z-index:1001;
    top:0px;
    left:0px;
    text-align: center;
}

#nav input {
    padding: 5px;
    width: 30%;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    text-align: center;
    
}

/* слои */

#layersToggler {
    position: fixed;
    z-index:10001;
    right:0px;
    top:0px;
    //opacity: 0.6;
    background-color: #454545;
    /* background-color: #303030; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    padding:10px;
    cursor:pointer;
}

#layersToggler.closer {
    right:225px;
}

.hidden {
    display:none;
}

#layers {
    position: fixed;
    top:0px;
    right: 0px;
    width:auto;
    padding:10px;
    padding-top:0px;
    background-color: #454545;
    color:#BFC0B1;
    z-index:10001;
    height:100%;
}

#layersCloser {
    position:absolute;
    top:50px;
    left:-40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
    cursor:pointer;
    background-color: #454545;
    
}

.layerGroup {
}

.layerGroupHead {
    display: block;
    line-height:50px;
    font-weight: bold;
    margin-left: 10px;
    min-width: 150px;
    font-size:1.1em;
}

.layer {
    display: block;
}

input[type=checkbox] {
    width: 20px;
    vertical-align: middle;
    height: 20px;
}

#locator {
    position: fixed;
    z-index: 1001;
    bottom: 205px;
    left: 50px;
}
         

/* карта */

#map {
    height:100%;
    width:100%;
}

.leaflet-bottom.leaflet-left {
    bottom: 30%;
}

.leaflet-control-zoom {
    position: fixed !important;
    bottom:200px;
}

.leaflet-control-minimap {
    position: fixed !important;
    bottom:10px;
}

/* remove google copyright */

.pac-container {
    background-image: none !important;
}